<div>
  <panal-box-slot title="Resumen histórico de facturas">
    <div slot="body">

      <p>Acá podés ver el histórico de facturas emitidas para todas tus cuentas asociadas.</p>
      <hr>

      <form>
        <div class="form-group">
          <label>Mostrar facturas de para:</label>
          <select class="form-control select2" v-model="conexionIndex" @change="getFacturas()">
            <option v-for="(conexion, index) in conexiones" :key="conexion.id" :value="index">{{ conexion.domicilio_completo }}</option>
          </select>
        </div>
      </form>
    </div>

  </panal-box-slot>

  <panal-box-slot v-if="facturas.length > 0" title="Facturas encontradas">
    <div slot="body">
      <div class="row">
        <!-- Table container -->
        <div class="col-md-12 col-sm-12 col-xs-12 table-container">
          <div class="table-responsive">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Factura</th>
                  <th>Periodo</th>
                  <th>Titular</th>
                  <th>Ocupante</th>
                  <th>Domicilio</th>
                  <th>Venc 1</th>
                  <th>Venc 2</th>
                  <th>Venc 3</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="factura in facturas">
                  <td>{{ factura.factura }}</td>
                  <td>{{ factura.periodo }}</td>
                  <td>{{ factura.titular }}</td>
                  <td>{{ factura.nombre_ocupante }}</td>
                  <td>{{ factura.domicilio }}</td>
                  <td>{{ factura.vencimiento1 }}</td>
                  <td>{{ factura.vencimiento2 }}</td>
                  <td>{{ factura.vencimiento3 }}</td>

                  <td class="actions-column">
                    <div class="actions-group">
                      <span v-if="factura.status == 'Pagado'">
                        <span class="text-success"><i class="fa fa-check"></i> Pagada</span>
                        <!-- <a class="btn btn-success btn-xs" href="#" data-toggle="tooltip"
                          data-placement="top" title="Descargar" target="_blank">
                            <i class="fa fa-download"></i>
                        </a> Pagada -->
                      </span>

                      <span v-if="factura.status == 'Descargar'">
                        <a class="btn btn-primary btn-xs" :href="linkBoletaPago(factura)"
                           data-toggle="tooltip" data-placement="top"
                           title="Descargar boleta de pago" target="_blank">
                          <i class="fa fa-download"></i>
                        </a> Por pagar
                      </span>

                      <span v-if="factura.status == 'Vencida'">
                        <a class="btn btn-danger btn-xs" href="#" @click.prevent="solicitarFacturaVencida(factura)" data-toggle="tooltip"
                           data-placement="top" title="Solicitar factura" target="_blank">
                          <i class="fa fa-paper-plane"></i>
                        </a> <span class="text-danger">Vencida</span>
                      </span>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--End table container-->
      </div>
    </div>
  </panal-box-slot>

</div>
