// AdminLTE base style
@import "node_modules/admin-lte/dist/css/AdminLTE.min";

/*
    Theme style
    Available AdminLTE Skins:
    skin-blue
    skin-black
    skin-purple
    skin-yellow
    skin-red
    skin-green
*/
@import "node_modules/admin-lte/dist/css/skins/skin-blue.min";
@import "overrides";

.mb-25 {
  margin-bottom: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.text-capital {
  text-transform: capitalize;
}

.content-fixed-seccion {
  background-color: white;
  margin-left: -15px;
  padding-left: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 50px;
  z-index: 999;
  width: 100%;
  border-bottom: 3px #3c8dbc solid;
}

@media screen and (max-width: 767px) {
  .content-fixed-seccion {
    top: 100px;
  }
}

.with-content-fixed-seccion {
  padding-top: 83px;
}

.register-page {
  padding: 3vw;

  .container {
    background-color: white;
    padding: 3vh;
  }
}
