<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title" v-if="title">{{ title }}</h3>
    <h3 class="box-title" v-else>Lista de <span class="text-capital">{{ model.plural }}</span></h3>
  </div>
  <!--box-body-->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 mb-25">
        <a class="btn btn-primary pull pull-right" v-on:click="openCreateModal" name="btnadd" id="modalBtn">
          <i class="fa fa-plus"></i> {{ PanalConf.lang.button.create }} <span class="text-capital">{{ model.singular }}</span>
        </a>
      </div>
    </div>
    <div class="row">
      <!-- Table container -->
      <div class="col-md-12 col-sm-12 col-xs-12 table-container">
        <div class="table-responsive">
          <table :id="tableId" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Area</th>
                <th>Agente</th>
                <th>Observación</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot v-if="showTfoot">
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Area</th>
                <th>Agente</th>
                <th>Observación</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
            <tbody>
              <tr v-for="row in rows">
                <td><div>{{ row.derivacion_id }}</div></td>
                <td><div>{{ row.derivado_el }}</div></td>
                <td><div>{{ row.area.nombre }}</div></td>
                <td><div>{{ row.agente.nombre_completo }}</div></td>
                <td><div>{{ row.observaciones }}</div></td>
                <td>
                  <div>
                    <a role="button" class='btn btn-primary btn-sm' v-on:click="openUpdateModal(row.derivacion_id)">
                      <span class="fa fa-pencil"></span>
                    </a>
                    <a role="button" class="btn btn-danger btn-sm" v-on:click="destroy(row.derivacion_id)">
                      <span class="fa fa-trash"></span>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--End table container-->
    </div>
  </div>
  <!--end box-body-->

  <panal-indicator></panal-indicator>

  <!-- derivaciones modal -->
  <div class="modal fade" tabindex="-1" role="dialog" :id="modalId">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Derivar Solicitud</h4>
        </div>
        <form class="form-horizontal" v-on:submit.prevent="submit(modal.action)">
          <div class="modal-body smart-modal-form">
            <div class="form-group">
              <label for="derivado_el" class="col-sm-2 control-label">Fecha</label>
              <div class="col-sm-10">
                <panal-calendar name="derivado_el" :value="data.derivado_el"></panal-calendar>
              </div>
            </div>
            <div class="form-group">
              <label for="area_id" class="col-sm-2 control-label">Area</label>
              <div class="col-sm-10">
                <select class="form-control" name="area_id" id="area_id" v-model="data.area_id" required>
                    <option v-for="area in areas" :value="area.id">{{ area.nombre }}</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label for="agente_id" class="col-sm-2 control-label">Agente</label>
              <div class="col-sm-10">
                <select class="form-control" name="agente_id" id="agente_id" v-model="data.agente_id" required>
                    <option v-for="agente in agentes" :value="agente.id">{{ agente.nombre_completo }}</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label for="observaciones" class="col-sm-2 control-label">Observación</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="observaciones" name="observaciones" v-model="data.observaciones"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-default" data-dismiss="modal">Cancelar</a>
            <button type="submit" class="btn btn-primary">{{ modal.type }}</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /main modal -->

</div>
